{% extends 'base.html' %}
 {% block content %}
 <a href="{{ url_for('add_product') }}">商品追加</a>
 <table border="1">
     <thead>
         <tr>
             <th><a href="{{ url_for('index', sort_by='name', order='desc' if sort_by=='name' and order=='asc' else 'asc') }}">商品名{% if sort_by=='name' %}({{ order }}){% endif %}</a></th>
             <th><a href="{{ url_for('index', sort_by='price', order='desc' if sort_by=='price' and order=='asc' else 'asc') }}">価格{% if sort_by=='price' %}({{ order }}){% endif %}</a></th>
         </tr>
     </thead>
     <tbody>
         {% for product in products %}
         <tr>
             <td>{{ product.name }}</td>
             <td>{{ product.price }}</td>
         </tr>
         {% endfor %}
     </tbody>
 </table>
 {% endblock %}